
#main { 
    font-family: georgia;
    font-size: 1.1em;
    background-color: #ebebe0;
    margin: 70px 0px;
}

body {
    position: relative;
}

h2 {
    font-size: 1.2em;
    text-align: center;
    position: relative;
}
  
.bottom {
    padding: 20px 0px 20px 0px;
    text-align: center;
    position: absolute;
    top: 2550px;
    left: 180px;
}
  
.title {
    text-align: center;
    padding-bottom: 10px;
}
  
#img-div {    
    background-color: white;  
    padding: 20px 0px;
    margin: 15px;
}
  
#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right:auto;
}
  
#img-caption {
    opacity: 0.8;
    text-align: center;
    font-size: 0.8em;
}
    
#tribute-info {
    margin: 60px;
    grid-column: 2/3;
    position: relative;
}
  
.container {
    display: grid;
    grid-template-columns: 15% 60% 15%;
}
#timeline {
    padding-bottom: 15px;
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
}

#comment {
    position: absolute;
    top: 1500px;
}
  
a {
    text-decoration: none;
}

li {
    margin: 40px, 0px;
    line-height: 40px;
}

