
#main { 
    font-family: georgia;
    font-size: 1.1em;
    background-color: #ebebe0;
    margin: 70px 0px;
}

h2 {
    text-align: center;
    margin: 60px 0px 40px 0px;
}
  
.title {
    text-align: center;
    padding-bottom: 10px;
}
  
#img-div {    
    background-color: white;  
    padding: 20px;
    margin: 10px;
}
  
#image {
    max-width: 90%;
    min-width: 90%;
    height: auto;
    margin: auto;
    display: block;
}
  
#img-caption {
    opacity: 0.8;
    text-align: center;
    font-size: 0.8em;
}

#comment {
    font-style: italic;
    max-width: 600px;
    margin: 0 auto 50px auto;
    text-align: left;
}

ul {
    max-width: 600px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
  
li {
    margin: 16px 0;
}

.bottom {
    padding: 20px 0px;
    text-align: center;  
}

a {
    text-decoration: none;
}